# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/

# Editor files
.vscode/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

# Documentacion solo local, no se sube al repo
/README.md
